<a href="https://facebook.com" target="_blank" rel="noopener noreferrer" class="group">
    <svg {...Astro.props}
        class=`w-8 h-8 transition-all duration-300 transform group-hover:scale-130`
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
        <path class="transition-colors duration-300 fill-white" d="M23.33,16.18v3.89h5.34l-.1.6-.47,2.95-.32,2.01h-4.45v14.01c-2.2.38-4.46.38-6.66,0v-14.01h-5v-5.56h5v-4.44c0-1.98.51-3.61,1.41-4.86,1.34-1.9,3.61-2.92,6.36-2.92.89,0,1.82.08,2.74.2.58.07,1.15.16,1.71.24v5.11h-2.56c-2.44,0-3,1.23-3,2.78Z"/>
        <path fill="currentColor" class="transition-colors duration-300 fill-transparent" d="M39.97,19.17c.2,5.38-1.74,10.83-5.84,14.92-3.04,3.04-6.84,4.89-10.8,5.55v-14.01h4.45l.32-2.01.47-2.95.1-.6h-5.34v-3.89c0-1.55.56-2.78,3-2.78h2.56v-5.11c-.56-.08-1.13-.17-1.71-.24-.92-.12-1.85-.2-2.74-.2-2.75,0-5.02,1.02-6.36,2.92-.9,1.25-1.41,2.88-1.41,4.86v4.44h-5v5.56h5v14.01c-3.97-.65-7.77-2.5-10.82-5.55C1.31,29.55-.58,23.33.18,17.38c.01-.11.03-.23.05-.35C1.71,7.46,10.03.07,20,.07c4.27,0,8.24,1.36,11.49,3.67,1.83,1.28,3.43,2.86,4.74,4.68,1.78,2.47,3.01,5.35,3.52,8.47.05.26.08.51.1.77.06.5.1,1.01.12,1.51Z"/>
    </svg>
</a>